/* InformeVentas.css */

.informe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px); /* Reducing the space by subtracting the height of the navbar */
  background-color: #f7f7f7;
  margin-top: 0px; /* Adjust this value as needed */
}

.informe-content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 18px;
}

.informe-heading {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.ventas-heading {
  font-size: 18px;
  margin-bottom: 5px;
}

.total-sum {
  font-size: 26px;
}
